body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

*{
    padding: 0;
    margin: 0;
}

header{
    background: rgb(0,196,95);
    background: linear-gradient(0deg, rgb(0, 176, 196) 0%, rgba(0,86,255,1) 100%);
    padding: 10px;
    display: flex;
    justify-content: center;
}

header img{
    width:50px;
    height: 50px;
}

header h1{
    margin: 10px;
}

.navegacion{
    margin-top: 10px;
    margin: auto;
    width: 500px;
    padding: 0;
}

.li{
    margin-top: 10px;
}


ul , ol{
    list-style: none;
}

.nav li a{
    margin-right: 5px;
    border-radius: 10px;
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    
}

.nav li a:hover{
    background-color: white;
}

.nav > li {
    float: left;
}

.nav li ul{
    display:none ;
    position: relative;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
    position: absolute;
}

.Integrantes{
    margin: 70px;
    display: flex;
    justify-content: center;
    
}

.Integrantes img {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.Integrantes img:hover{
    width: 130px;
    height: 130px;
    box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
}

.Presentacion{
    text-align: center;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);;
    margin: auto;
    padding: 20px;
    width: 700px;
    margin-top: 70px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.Perfil{
    margin: 30px;
    display: flex;
    justify-content: center;
}
.img{
    width: 40%;
}

.Perfil img{
    width:100px;
    height: 100px;
    width: 40%;
    border-radius: 50%;
}

h2{
    width: 60%;
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.Datos{
    display: flex;
}

.info{
    display: flex;
    margin: 5px;
    margin-left: 20px;
}

h3{
    margin: auto;
    margin-left: 10px;
}

div > img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.Titulo{
    margin: 10px;
    text-align: left;
}

.Lizquierdo{
    width:50%;
}

/*Lado derecho de informacion*/

.derecha h3{
    margin: 20px;
}

.Lderecho{
    width: 50%;
}

/*Para movil*/
@media (max-width:500px) {
    header{
        font-size: 10px;
    }   
    header img{
        width: 40px;
        height: 40px;
    } 

    .nav li a{
        padding: 5px;
        margin: 5px;
    }

    .navegacion{
        margin-top: 10px;
        margin: auto;
        width: 300px;
        padding: 0;
        font-size: 10px;
    }

    .articulos{
        margin: auto;
        flex-direction: column;
        font-size: 10px;
        width: 200px;
    }
    .articulos a{
        margin: 10px;
    }

    .articulos img{
        width: 150px;
        margin-left: -5px;
        border-radius: 20px;
    }

    .articulos h2{
        margin: auto;
    }

}